/*
* Globals
*/

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  min-height: 1000px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.container {
  max-width: 768px;
}

.entry-title {
  padding-top: 64px;
  padding-bottom: 10px;
}

br {
  line-height: 1.6em;
}

p {
  margin-bottom: 14px;
}
